.header {
  display: flex;
  align-items: center;
  padding: 1rem;

  a {
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
    transition: all 0.6s ease;

    @media (min-width: 1200px) {
      &:hover {
        transition: all 0.6s ease;
        background-color: blue;
        color: white;
      }
    }
  }
}
