html,
body {
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-responsive {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.container {
  min-width: $minWidth;
  margin: 0 auto;
  padding: 0 $paddingContainer;
  max-width: $maxWidthContainer;

  @media (max-width: $maxWidth) {
    max-width: 1100px;
  }

  @media (max-width: 1200px) {
    max-width: 970px;
  }

  @media (max-width: 992px) {
    max-width: 750px;
  }

  @media (max-width: 767px) {
    max-width: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

