*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button:disabled {
  cursor: not-allowed;
}

input,
button, textarea {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

input, textarea {
  border: 0.0625rem solid black;
  border-radius: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid black;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 62.5rem rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  resize: none;
}

summary {
  list-style: none;
  cursor: pointer;
}

html,
body {
  line-height: 1;
  font-size: 16px;
  font-family: ArodoraPro, Arial, sans-serif;
}
