$blackbue: linear-gradient(rgb(11, 46, 136), rgb(1, 9, 19));
$whiteText: white;

$minWidth: 320px;
$maxWidth: 1920px;

$maxWidthContainer: 1180px;

$headerHeight: 50px;

$paddingContainer: 20px;
$paddingBottom: 20px;
